<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="jerpritchettgmail.onmicrosoft.com" />
  
    <!--daemon client id-->
    <add key="ida:ClientId" value="b152e458-d7e9-4c99-84ba-1b9e99d8caf1" />

    <!--native client id--><!--
    <add key="ida:ClientId" value="164bdb87-fd35-45a9-91c1-94c96cbe9022" />-->
    <add key="ida:RedirectUri" value="https://jerpritchettgmail.onmicrosoft.com/TodoListClient-NativeDotNet" />
    <add key="todo:TodoListResourceId" value="https://jerpritchettgmail.onmicrosoft.com/TodoListService-NativeDotNet" />
    <add key="todo:TodoListBaseAddress" value="https://todolistservice-jerpritchettgmail.azurewebsites.net:44321" />
    <!--<add key="todo:TodoListBaseAddress" value="https://localhost:44321" />-->
    <add key="ida:CertName" value="CN=TodoListDaemonWithCert" />
  </appSettings>
</configuration>
